body {
    color: #33272a;
    font-family: Roboto, Cambria, Cochin, serif;
    margin-top: 120px;
}
main {
    margin: 2%;
}
#backgroundjumobtron{
    background-image: url(https://images2.alphacoders.com/941/941112.jpg);
    background-repeat: no-repeat, repeat;
    opacity: 0.75;
    background-attachment: fixed;
    background-position: right;
}

#logo {
    font-family: Bebas Neue;
    font-size: 45px;
    color: #ff6978;
    padding-left: 1.5%;
}
/* ID for map size */
#map {
    width: 100%;
    height: 600px;
}

#navbar {
    background-color: #222222; 
    font-size: 16px;
}
footer {
    padding-top: 50px;
}
.nav-item {
    padding-left: 25px;
}
/* class for address div */
.address {
    font-size: 23px;
    text-align: center;
    font-weight: 600;
}

#ben {
    box-shadow: -2px 7px 10px 2px;
    background-image: url(https://www.snakkle.com/wp-content/uploads/2012/05/cliff-robertson-spiderman-movie-2002-photo-GC.jpg);
    background-repeat: no-repeat, repeat;
    width: 355px;
    height: 369px;
    background-size: cover;
}

@media only screen and (max-width: 768px) {
    #ben {
        margin-left: auto !important;
        margin-right: auto !important; 
    }
    .address {
        font-size: 23px;
        text-align: center;
        font-weight: 600;
        margin-left: auto !important;
        margin-right: auto !important; 
    }
  }

#pizza-header {
    display: inline-block;
    position: absolute;
    min-width: 40%;
    width: 100%;
    align-content: center;
    text-align: center;
}

#pizza-header img {
    max-width: 50%;
    width: 50%;
    opacity: 0.75;
    image-rendering: crisp-edges;
}

#container-header {
    background-image: linear-gradient(0deg, rgba(255,105,120,0.3) 0%, rgba(255,255,255,0) 75%);
    position: relative;
    min-height: 300px;
    overflow: hidden;
}

h4 {
    color: #E6001B;
    font-weight: 600;
}

td {
    text-align: center;
}

.link {
    color: #898989;
}