body {
    color: #33272a;
    font-family: Roboto, Cambria, Cochin, serif;
    margin-top: 120px;
}
main {
    margin: 2%;
}
#logo {
    font-family: Bebas Neue;
    font-size: 45px;
    color: #ff6978;
    padding-left: 1.5%;
}
#navbar {
    background-color: #222222; 
    font-size: 16px;
}
footer {
    padding-top: 50px;
}
.nav-item {
    padding-left: 25px;
}