body {
    color: #33272a;
}
main {
    margin: 2%;
}

#logo {
    font-family: Bebas Neue;
    font-size: 45px;
    color: #ff6978;
    padding-left: 1.5%;
}
/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }